/* RÉGLAGES GÉNÉRAUX DE LA PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  background-color: #fff;
  color: #202124;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* HEADER */
.header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34A853; /* A suprimer*/
}

.navbar {
  width: 70%;                
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px;
}

.navbar a {
  text-decoration: none;          /* pour retire le soulignement */
  color: #202124;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
}

.navbar span a:hover {
  background-color: #f1f3f4;
}

.search-section {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* LOGO GOOGLE */
.logo {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 100px;
  font-weight: 800;
  width: 100%;
  background-color: aqua;
}
/* Couleurs Google */
.blue   { color: #4285F4; }
.red    { color: #EA4335; }
.yellow { color: #FBBC05; }
.green  { color: #34A853; }

form {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

input {
  width: 45%;
  padding: 10px 35px;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease;
}

/* Effet au clic (focus) */
input:focus {
  border-color: #4285F4;
  box-shadow: 0 0 5px #4285F4;
  cursor: text;
}

input:hover {
  border-color: #4285F4 ;
  box-shadow: 0 0 5px  #4285F4;
  cursor: text;
}

/* BOUTONS */
 .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  background-color: aquamarine;
}

button {
  background-color: #f8f9fa;   
  font-weight: bold;
  color: #202124;                 
  border: 1px solid #f8f9fa;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #f1f3f4;
  color: #34A853;             
  border: 1px solid #dadce0;
}
/* Le footer */

/* Section des liens */
.footer-links {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Style général des listes */
.footer-links ul {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* ===== Première liste (localisation) ===== */
.location li {
  list-style: none;
  color: #70757a;
}

/* Tirets pour le 2e et 3e élément */
.location li:nth-child(2)::before,
.location li:nth-child(3)::before {
  content: "- ";
  color: #70757a;
}

/* Deuxième liste (autres liens) */
.autres li {
  list-style: none;
}

.autres li a {
  text-decoration: none;
   color: #70757a;
}
/* Points pour les 2e et 3e éléments */
.autres li:nth-child(2),
.autres li:nth-child(3) {
  list-style-type: disc;
  list-style-position: inside;
}
